<!-- views/reviews-edit.hbs -->

<form method="POST" action="/reviews/{{review._id}}?_method=PUT">
    {{> reviews-form}}
    <!-- BUTTON -->
    <p>
        <button type="submit">Save Review</button>
        <input type="button" value="Go back!" onclick="history.back()">
    </p>
</form>
